In [1]:
#importar pacotes

#tratamento de dados
import pandas as pd
import numpy as np

In [26]:
#carregar dados bitcoin
bitcoin = (pd
.read_csv("C:/Users/eduar/OneDrive/Área de Trabalho/Python/bitcoin/bronze/bases/bitcoin.csv")
.drop(['Open','High', 'Low', 'Adj Close','Volume'], axis=1)
)
bitcoin.rename(columns={'Close': 'btc'}, inplace=True) 


#carregar dados sp500
sp500 = (pd
.read_csv("C:/Users/eduar/OneDrive/Área de Trabalho/Python/bitcoin/bronze/bases/sp500.csv")
.drop(['Open','High', 'Low', 'Adj Close','Volume'], axis=1)
)
sp500.rename(columns={'Close': 'sp500'}, inplace=True) 


#carregar dados ouro
ouro = (pd
.read_csv("C:/Users/eduar/OneDrive/Área de Trabalho/Python/bitcoin/bronze/bases/ouro.csv")
.drop(['Open','High', 'Low', 'Adj Close','Volume'], axis=1)
)
ouro.rename(columns={'Close': 'ouro'}, inplace=True) 

#carregar dados ouro
interest_rate = (pd
.read_csv("C:/Users/eduar/OneDrive/Área de Trabalho/Python/bitcoin/bronze/bases/interest_rate.csv")
.drop(['Open','High', 'Low', 'Adj Close','Volume'], axis=1)
)
interest_rate.rename(columns={'Close': 'interest_rate'}, inplace=True)

In [27]:
# Realizar o join
dados_finais = pd.merge(bitcoin, sp500, left_on='Date', right_on='Date', how='left')
dados_finais = pd.merge(dados_finais, ouro, left_on='Date', right_on='Date', how='left')
dados_finais = pd.merge(dados_finais, interest_rate, left_on='Date', right_on='Date', how='left')

dados_finais.head(10)

         Date         btc        sp500         ouro  interest_rate
0  2014-09-17  457.334015  2001.569946  1234.400024          0.013
1  2014-09-18  424.440002  2011.359985  1225.699951          0.010
2  2014-09-19  394.795990  2010.400024  1215.300049          0.007
3  2014-09-20  408.903992          NaN          NaN            NaN
4  2014-09-21  398.821014          NaN          NaN            NaN
5  2014-09-22  402.152008  1994.290039  1216.800049          0.003
6  2014-09-23  435.790985  1982.770020  1221.000000          0.007
7  2014-09-24  423.204987  1998.300049  1218.599976          0.007
8  2014-09-25  411.574005  1965.989990  1221.199951          0.005
9  2014-09-26  404.424988  1982.849976  1214.099976          0.005

In [30]:
dados_finais.to_csv('bases/dados_finais.csv', index=False,mode='w')